---
platform: linux

inputs:
- name: ci
- name: env

outputs:
- name: built-acceptance-test-configs

params:
  BBL_STATE_DIR:
  CONFIGS:
  DIR: .
  ENVS:
  WITH_ISOSEG: false
  WITH_DYNAMIC_ASG: false
  WITH_COMMA_DELIMITED_ASG_DESTINATIONS: false
  WITH_VOLUME_SERVICES: false
  ISOSEG_NAME: persistent_isolation_segment


run:
  path: ci/shared/tasks/build-acceptance-test-configs/task.bash
