---
platform: linux

inputs:
- name: ci
- name: go-version-json
  optional: true
- name: repo
  optional: true
- name: package-release
  optional: true

outputs:
- name: determined-image-tag

params:
  GO_VERSION_FILE: ci/go-version.json
  IMAGE: cloudfoundry/tas-runtime-build
  DOCKER_REGISTRY_USERNAME: ((dockerhub-appruntimeplatform-username))
  DOCKER_REGISTRY_PASSWORD: ((dockerhub-appruntimeplatform-password))
  PLUGIN:

run:
  path: ci/shared/tasks/determine-image-tag/task.bash
