---
readme: |+
  This task adds and updates the README.md across repos. For example in the case of bbs, it combines
  the following files in order generate the final README
    > bbs.md (under diego-release/readme/bbs.md)
    > generates a tree of docs under docs dir of bbs. Each document is required to have a metadata YAML block. e.g.
        ---
        title: Where does BBS fits in Cloud Foundry
        expires_at: never or 2027-03-24
        tags: [diego-release, bbs]
        ---
    > 01-diego-release.md (under diego-release/01-diego-release.md)
    > 00-shared.md (under shared/00-shared-md)
extra_inputs:
  ci-config: (Optional) if ci config files needs to be provided from a repo other than this. This would be used when using a private-repo to hold ci configurations

oses:
  - linux

params:
  INTERNAL_REPOS: Optional list of internal repos to limit searching broken links inside
