---
platform: windows

inputs:
- name: ci
- name: repo

outputs:
- name: built-binaries

params:
  DEFAULT_PARAMS:
  FUNCTIONS: 
  ENVS:
  MAPPING: 

run:
  path: powershell
  args:
  - "-ExecutionPolicy"
  - "Bypass"
  - "-File"
  - ci/shared/tasks/build-binaries/task.ps1

