---
readme: |
  This task will build release notes by looking into diff from previous-github-release and will diff bosh jobs spec if exists.
extra_inputs:
  released-binaries: This input would be helpful when passing binaries for getting version of go
  extra-metadata: This input adds extra-metadata for release notes
oses:
  - linux
params:
  BOSH_IO_ORG: The name of the org used on bosh.io for boshrelease links. Defaults to 'cloudfoundry'
  GITHUB_ORG:  The name of the github org to use for release note links. Defaults to 'cloudfoundry'
