---
platform: linux

inputs:
  - name: ci
  - name: repo
  - name: ci-config
    optional: true
  - name: built-binaries
    optional: true
  - name: dep-local-repo-replace-01
    optional: true
  - name: dep-local-repo-replace-02
    optional: true
  - name: dep-local-repo-replace-03
    optional: true
  - name: dep-local-repo-replace-04
    optional: true
  - name: dep-local-repo-replace-05
    optional: true

outputs:
  - name: bumped-repo

params:
  GOOS:
  GO_MODS: 
  REPLACE_DIRECTIVES: 
  FUNCTIONS:
  EXTRA_GO_TAGS: 
  ENVS:

run:
  path: ci/shared/tasks/bump-dependencies-go-mod/task.bash
