---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: us-central1-docker.pkg.dev/cf-diego-pivotal/tas-runtime-dockerhub-mirror/((image_repository))
    username: _json_key
    password: ((image_password))
    tag: ((image_tag))

inputs:
- name: ci
- name: repo
- name: built-binaries
  optional: true
- name: input-01
  optional: true
- name: input-02
  optional: true
- name: input-03
  optional: true
- name: input-04
  optional: true

params:
  DB:
  DEFAULT_PARAMS:
  DIR:
  ENVS:
  FLAGS: |
    --keep-going
    --trace
    -r
    --fail-on-pending
    --randomize-all
    --nodes=7
    --race
    --timeout 20m
  FUNCTIONS:
  RUN_AS: root
  VERIFICATIONS: |
    verify_go repo/$DIR
    verify_go_version_match_bosh_release repo
    verify_gofmt repo/$DIR
    verify_govet repo/$DIR
    verify_staticcheck repo/$DIR
run:
  path: ci/shared/tasks/run-bin-test/task.bash
