---
platform: windows

inputs:
- name: ci
- name: repo
- name: built-binaries
  optional: true
- name: input-01
  optional: true
- name: input-02
  optional: true
- name: input-03
  optional: true
- name: input-04
  optional: true

params:
  DB:
  DEFAULT_PARAMS:
  DIR:
  ENVS:
  FLAGS: |
    --keep-going
    --trace
    -r
    --fail-on-pending
    --randomize-all
    --nodes=7
    --race
    --timeout 30m
  FUNCTIONS:
  RUN_AS:
  VERIFICATIONS: |
    Verify-Go repo/$env:DIR
    Verify-GoVersionMatchBoshRelease repo
    Verify-GoVet repo/$env:DIR
    Verify-StaticCheck repo/$env:DIR

run:
  path: powershell
  args:
  - "-ExecutionPolicy"
  - "Bypass"
  - "-File"
  - ci/shared/tasks/run-bin-test/task.ps1

